*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  min-height: 100%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-body);
  font-weight: var(--font-weight);
  font-style: normal;
  font-optical-sizing: auto;
  letter-spacing: 0;
  color: var(--body-text);
  background-color: var(--background);
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.header {
  font-family: var(--header-font-family);
}

a {
  color: var(--link-base-bolor, var(--light-accent));
  text-decoration: none;
  transition: all 250ms ease;
}

a:hover,
a:focus-visible {
  color: var(--link-hover-color, var(--light-shade));
}

a:focus-visible {
  outline: 2px solid var(--link-focus-border-color, var(--light-accent));
  outline-offset: var(--s1);
  border-radius: 2px;
}

a:active {
  color: var(--link-active-color, var(--dark-shade));
}
