.main {
  width: clamp(320px, 100vw - 2rem, 800px);
  margin-inline: auto;
  margin-block: var(--s-large-px);
  border: 1px solid var(--light-shade);
}

@media (--tablet) {
  .main {
    width: revert;
    margin-inline: var(--s-medium-px);
    margin-block: var(--s-medium-px);
  }
}

@media (--mobile) {
  .main {
    width: 100vw;
    margin-inline: 0;
    margin-block: var(--s-small-px);
  }
}
